.backGroundDegrade{
 
    background:linear-gradient(#C0ECDB,#00A8E0);
    background-color:rgb(4, 61, 92); /*this your primary color*/ 
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100%; 
    
}

.navbar {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    overflow: hidden;
    background-color: rgb(4, 61, 92);
    padding: 4vh ;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}

.classeAleatoria{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.itensNavbar a{
    margin-right: 2vw;
    color: white;
    text-decoration: none;
}

.itensNavbar:link {
    text-decoration: none;
}

.itensNavbar:hover{
    cursor: alias;
}

.LogoComImg{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20vh 0 0vh 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xxx-large;
    color:#001f0682 white
}

.BackToTopBtn{
    position: sticky;
    text-align: flex-end;
    font-size: 500%;
    left: 0;
    bottom:0;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.SobreNosProjeto{
    border-radius: 25px;
    border: 1px solid rgb(0, 94, 28);
    margin: 1vw 5vw 1vw 5vw;
    padding: 2vw;
    text-align: justify;
}

/* .SobreNosAlunos{
    display: flex;
} */

.SobreNosAlunos{
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    margin: 1vw 5vw 0vw 40vw;
    padding: 2vw;
    text-align: justify;
}

.AlunoComFoto{
    margin: 2vw 1vw;
    display: flex;
}

.AlunoComInfo{
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
   
}

