.profileNavbar{
    position:relative;
    top:60px;
    margin:8vh 10px 0 10px;
    background-color:rgb(48, 111, 149);
    border-radius: 25px;
    color: black;
    padding:5vh 2vw;
    display:flex;
}

.profileNavbar:hover{
    cursor:alias;
}

.perfil {
    position: sticky;
    top:10px;
    padding: 5vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    
    margin-right: 2vw;
    background-color: rgb(4, 61, 92);
    text-align: center;
    border-radius: 25px;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow:auto;
    
}

.InfoPerfil {
    display: flex;
    flex-direction: column;
    color: white;

    width: 70%;
 /*    height: 75vh; */

    background-color: rgb(4, 61, 92);
    text-align: center;
    padding: 3vw;
    border-radius: 25px;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
/*     overflow:scroll; */
   
}

