/* .teste {
    background: linear-gradient(#C0ECDB, #00A8E0);
    background-color: rgb(4, 61, 92);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
} */

.container {
    background-color: rgb(4, 61, 92);
    text-align: center;
    margin: 10vw 30vw 10vw 30vw;
    padding: 3vw;
    border-radius: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Title {
    font-weight: bold;
    color: white;
}

/* .teste-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}
 */
/* .cadastroBtn {
    position: relative;
    top: 2vw;
    color: black
} */