.cointeinerSearch{
    display: flex;
    align-items:flex-start;
    margin: 100px 10px 0 10px;
}

.pesquisa {
    padding: 5vw;
    /* width: 20%; */
    
    margin-right: 2vw;
    background-color: rgb(4, 61, 92);
    text-align: center;
    border-radius: 25px;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow:auto;
    
}

.resultado {
    display: flex;
    flex-direction: column;

    width: 70%;
    height: 75vh;

    background-color: rgb(4, 61, 92);
    text-align: center;
    padding: 3vw;
    border-radius: 25px;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow:scroll;
   
}


.caixa {

    border: 5px solid rgb(15, 136, 184);
    padding: 10px;
    margin: 5px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;

}